/* Variables */
$ebon: #424141;

/* Animations */

@keyframes bounce-down {
    0% {transform: translateY(-10px); }
    50% { transform: translateY(-3px); }
    100% {transform: translateY(-10px); }
} 

body {

  header {

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;

  nav {
    display: none;

    @media (max-width: 540px) {

      a {
        margin-left: 0px;
        margin-top: 2px;
        display: list-item;
        font-size: 20px;
        border: 0px;
        text-decoration: none;
        list-style-type: none;
      }

    }

  }

  a {
    margin-left: 40px;
    margin-right: 40px;
    color: $ebon;
    border-bottom: 1px solid $ebon;
    padding-bottom: 5px;
    &:hover {
      color: lighten($ebon, 20%);
      border-bottom: 1px solid lighten($ebon, 20%);
      text-decoration: none;
    }
  }
}

  h1, h2, h3{
    font-family: 'Abel', sans-serif;
    h2 {
      font-weight: 400;
    }
  }

  p {
    font-family: 'Abel', sans-serif;
  }

  #about {

    h1, h2, h3 {
      display: none;
    }

    p {
      display: none;
      font-size: 17px;
    }

    #down-arrow {
      width: 50px;
      display: none;
      animation: bounce-down 2s infinite;
    }

  }

  .underline {
    border-bottom: 1px solid $ebon;
    padding-bottom: 5px;
  }

}